force-app/main/default/flows/AdminEvent_RecordTriggered_AfterSave_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Invocable_Method_Get_Account_Names</name>
        <label>Invocable Method-Get Account Names</label>
        <locationX>1733</locationX>
        <locationY>1739</locationY>
        <actionName>TestInvocableMethodAccounts</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_output_in_Invocable_Method</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ids</name>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TestInvocableMethodAccounts</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assignment_for_Customer_0</name>
        <label>Assignment for Customer</label>
        <locationX>1898</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>varAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Invocable_Method_Get_Account_Names</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_for_Customer_Includes_a_Typo</name>
        <label>Assignment for Customer-Includes a Typo</label>
        <locationX>1634</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>varAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>David1234</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Invocable_Method_Get_Account_Names</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DEBUG_Assign_Case_Exists_message_English</name>
        <label>DEBUG Assign Case Exists message-English</label>
        <locationX>314</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>varErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DEBUG_Get_Custom_Metadata_Type_Case_Exist.English__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_exists_English</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DEBUG_Assign_Case_Exists_message_Spanish</name>
        <label>DEBUG Assign Case Exists message-Spanish</label>
        <locationX>578</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>varErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DEBUG_Get_Custom_Metadata_Type_Case_Exist.Spanish__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_exists_Spanish</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>Case_exists_English</name>
        <label>Case exists-English</label>
        <locationX>314</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>DEBUG_Case_Exists_English</targetReference>
        </connector>
        <customErrorMessages>
            <errorMessage>{!varErrorMessage}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Case_exists_Spanish</name>
        <label>Case exists-Spanish</label>
        <locationX>578</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>DEBUG_Case_Exists_Spanish</targetReference>
        </connector>
        <customErrorMessages>
            <errorMessage>{!varErrorMessage}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Error_Account_Description_empty</name>
        <label>Error Account Description empty</label>
        <locationX>1106</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>DEBUG_Error_Exception</targetReference>
        </connector>
        <customErrorMessages>
            <errorMessage>FLOW ERROR-Message #1: Please populate the Account Description - we need details about a new PARTNER</errorMessage>
            <fieldSelection>Type</fieldSelection>
            <isFieldError>true</isFieldError>
        </customErrorMessages>
        <customErrorMessages>
            <errorMessage>FLOW ERROR-Message #2: Please populate the Account Description - we need details about a new PARTNER</errorMessage>
            <fieldSelection>Description</fieldSelection>
            <isFieldError>true</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Error_Validation_Rule_Create_Case</name>
        <label>Error Validation Rule-Create Case</label>
        <locationX>2426</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>DEBUG_Error_Exception_Validation_Rule</targetReference>
        </connector>
        <customErrorMessages>
            <errorMessage>FLOW ERROR-VALIDATION RULE PATH passed  this $Flow.FaultMessage: 
{!$Flow.FaultMessage}</errorMessage>
            <fieldSelection>Type</fieldSelection>
            <isFieldError>true</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Invocable_Method_failed</name>
        <label>Invocable Method failed</label>
        <locationX>1733</locationX>
        <locationY>1955</locationY>
        <connector>
            <targetReference>DEBUG_Error_Exception_Invocable_Method</targetReference>
        </connector>
        <customErrorMessages>
            <errorMessage>INVOCABLE METHOD Failed - David, this is a custom error for the user!</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Check_Account_Type</name>
        <label>Check Account Type</label>
        <locationX>1733</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Partner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Partner</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_fields_in_Account</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Partner</label>
        </rules>
        <rules>
            <name>Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_for_Customer_Includes_a_Typo</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Customer</label>
        </rules>
        <rules>
            <name>Customer_Direct_or_Channel</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer - Direct</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer - Channel</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_for_Customer_0</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Customer Direct or Channel</label>
        </rules>
        <rules>
            <name>Type_is_Other</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validation_Rule_Path_Create_Case</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Type is Other</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_fields_in_Account</name>
        <label>Check fields in Account</label>
        <locationX>776</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>DEBUG_Get_Custom_Metadata_Type_Account_Description</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_fields_for_Partner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Partner</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Description</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_Existing_Cases_for_a_Partner</targetReference>
            </connector>
            <label>Check fields for Partner</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_there_is_a_Case_already</name>
        <label>Check if there is a Case already</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>DEBUG_Get_Custom_Metadata_Type_Case_Exist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Cases_already</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_Existing_Cases_for_a_Partner</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Case</targetReference>
            </connector>
            <label>No Cases already</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_output_in_Invocable_Method</name>
        <label>Check output in Invocable Method</label>
        <locationX>1733</locationX>
        <locationY>1847</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Success_Get_Account_Name</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Invocable_Method_Get_Account_Names</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_0</targetReference>
            </connector>
            <label>Success-Get Account Name</label>
        </rules>
        <rules>
            <name>Fail_Output_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Invocable_Method_Get_Account_Names</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invocable_Method_failed</targetReference>
            </connector>
            <label>Fail-Output is null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_Custom_Error_Flag</name>
        <label>Checking Custom Error Flag</label>
        <locationX>578</locationX>
        <locationY>863</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Custom_Error_flag_is_enabled_English</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DEBUG_Get_Custom_Metadata_Type_Case_Exist</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>English</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DEBUG_Assign_Case_Exists_message_English</targetReference>
            </connector>
            <label>Custom Error flag is enabled-English</label>
        </rules>
        <rules>
            <name>Custom_Error_flag_is_enabled_Spanish</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DEBUG_Get_Custom_Metadata_Type_Case_Exist</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Spanish</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DEBUG_Assign_Case_Exists_message_Spanish</targetReference>
            </connector>
            <label>Custom Error flag is enabled-Spanish</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_Custom_Error_Flag_Account_Description</name>
        <label>Checking Custom Error Flag-Account Description</label>
        <locationX>1238</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Custom_Error_flag_is_enabled_Account_Description</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DEBUG_Get_Custom_Metadata_Type_Account_Description</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Account_Description_empty</targetReference>
            </connector>
            <label>Custom Error flag is enabled-Account Description</label>
        </rules>
    </decisions>
    <description>Release Beta 2- Adding Feature Flags
Adding Invocable Method with Custom Error</description>
    <environments>Default</environments>
    <interviewLabel>AdminEvent-RecordTriggered-AfterSave-Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AdminEvent-RecordTriggered-AfterSave-Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Partner to be onboarded</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Structural</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>DEBUG_Case_Exists_English</name>
        <label>DEBUG Case Exists-English</label>
        <locationX>314</locationX>
        <locationY>1187</locationY>
        <inputAssignments>
            <field>Exception_Details__c</field>
            <value>
                <stringValue>Error 9876 - case exists already</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object__c</field>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Operation__c</field>
            <value>
                <stringValue>Flow AdminEvent-AfterSave-Onboarding Case exists</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Exception_Log__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>DEBUG_Case_Exists_Spanish</name>
        <label>DEBUG Case Exists-Spanish</label>
        <locationX>578</locationX>
        <locationY>1187</locationY>
        <inputAssignments>
            <field>Exception_Details__c</field>
            <value>
                <stringValue>Error 9876 - case exists already</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object__c</field>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Operation__c</field>
            <value>
                <stringValue>Flow AdminEvent-AfterSave-Onboarding Case exists</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Exception_Log__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>DEBUG_Error_Exception</name>
        <label>DEBUG Error Exception</label>
        <locationX>1106</locationX>
        <locationY>863</locationY>
        <inputAssignments>
            <field>Exception_Details__c</field>
            <value>
                <stringValue>Error 1234 in flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object__c</field>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Operation__c</field>
            <value>
                <stringValue>Flow AdminEvent-AfterSave-Missing Account Description empty</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Exception_Log__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>DEBUG_Error_Exception_Invocable_Method</name>
        <label>DEBUG Error Exception-Invocable Method</label>
        <locationX>1733</locationX>
        <locationY>2063</locationY>
        <inputAssignments>
            <field>Exception_Details__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object__c</field>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Operation__c</field>
            <value>
                <stringValue>Invocable Method in Account</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Exception_Log__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>DEBUG_Error_Exception_Validation_Rule</name>
        <label>DEBUG Error Exception-Validation Rule</label>
        <locationX>2426</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Exception_Details__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object__c</field>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Operation__c</field>
            <value>
                <stringValue>Flow AdminEvent-AfterSave-Validation Rule in Case</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Exception_Log__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Validation_Rule_Path_Create_Case</name>
        <label>Validation Rule Path-Create Case</label>
        <locationX>2162</locationX>
        <locationY>431</locationY>
        <faultConnector>
            <targetReference>Error_Validation_Rule_Create_Case</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Partner to be onboarded</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>DEBUG_Get_Custom_Metadata_Type_Account_Description</name>
        <label>DEBUG Get Custom Metadata Type-Account Description</label>
        <locationX>1238</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Checking_Custom_Error_Flag_Account_Description</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Flow_Custom_Error_Account_Description</stringValue>
            </value>
        </filters>
        <filters>
            <field>Enabled__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Feature_Flag__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>DEBUG_Get_Custom_Metadata_Type_Case_Exist</name>
        <label>DEBUG Get Custom Metadata Type-Case Exist</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Checking_Custom_Error_Flag</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Flow_Custom_Error_Onboarding_Case_exists</stringValue>
            </value>
        </filters>
        <filters>
            <field>Enabled__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Feature_Flag__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_Existing_Cases_for_a_Partner</name>
        <label>GET Existing Cases for a Partner</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_there_is_a_Case_already</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Partner to be onboarded</stringValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <inputAssignments>
            <field>Partner_Onboarded__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_0</name>
        <label>Update Account</label>
        <locationX>1469</locationX>
        <locationY>1955</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Invocable_Method_Get_Account_Names</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1607</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Account_Type</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
