force-app/main/default/flows/Hello_World_NPS_Score.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assignment</name>
        <label>Assignment</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Account.NPS_score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Slider_NPS.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>DEBUG_Check_Type_of_Error</name>
        <label>DEBUG Check Type of Error</label>
        <locationX>572</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Flow_has_an_error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.FaultMessage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Support_Case</targetReference>
            </connector>
            <label>Flow has an error</label>
        </rules>
    </decisions>
    <description>Improvement - Exception log</description>
    <environments>Default</environments>
    <interviewLabel>Hello World NPS Score {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Hello World NPS Score</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Support_Case</name>
        <label>Create Support Case</label>
        <locationX>440</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Error_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>NPS Score: Error in Screen Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Question</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>DEBUG_Error_Exception_Log</name>
        <label>DEBUG Error Exception Log</label>
        <locationX>572</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>DEBUG_Check_Type_of_Error</targetReference>
        </connector>
        <inputAssignments>
            <field>Exception_Details__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object__c</field>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Operation__c</field>
            <value>
                <stringValue>Flow BeforeSaveAccount and NPS Screen flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>Account.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Exception_Log__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update</name>
        <label>Update</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <faultConnector>
            <targetReference>DEBUG_Error_Exception_Log</targetReference>
        </faultConnector>
        <inputReference>Account</inputReference>
    </recordUpdates>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>440</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Help_Text</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;&lt;u&gt;FRIENDLY MESSAGE SENT TO THE USER FROM THE SCREEN FLOW LOGIC:&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&quot;Sorry, we couldn&apos;t update the NPS Score - please check with you Salesforce Admin for further details (BTW I&apos;ve created a &lt;a href=&quot;https://animuscrm-dev-ed.lightning.force.com/lightning/r/Case/{!Create_Support_Case}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;support case already&lt;/a&gt; ;)&quot;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Real internal error detected:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Error: {!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <helpText>&lt;p&gt;BEFORE SAVE FLOW ERROR - Missing Account Description.&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_NPS</name>
        <label>Screen NPS</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assignment</targetReference>
        </connector>
        <fields>
            <name>Slider_NPS</name>
            <extensionName>flowruntime:slider</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>How would you rate your experience with us?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Account.NPS_score__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Screen_NPS</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
