force-app/main/default/flows/New_Customer_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <dynamicChoiceSets>
        <name>SalesStage</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>StageName</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>CloseDate30</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+30</expression>
    </formulas>
    <formulas>
        <name>CompanyAndLastName</name>
        <dataType>String</dataType>
        <expression>{!Company_Name} + &apos;-&apos; + {!Last_Name}</expression>
    </formulas>
    <interviewLabel>New Customer Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Customer Flow</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>New_Account</name>
        <label>New Account</label>
        <locationX>401</locationX>
        <locationY>90</locationY>
        <assignRecordIdToReference>Account_ID</assignRecordIdToReference>
        <connector>
            <targetReference>New_Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Company_Name</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>New_Contact</name>
        <label>New Contact</label>
        <locationX>580</locationX>
        <locationY>90</locationY>
        <connector>
            <targetReference>New_Opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Account_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>New_Opportunity</name>
        <label>New Opportunity</label>
        <locationX>740</locationX>
        <locationY>93</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Account_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>Opportunity_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>CloseDate30</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>CompanyAndLastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Prospecting</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <screens>
        <name>Screen_New_Customer_Flow</name>
        <label>Screen_New Customer Flow</label>
        <locationX>209</locationX>
        <locationY>89</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>New_Account</targetReference>
        </connector>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Company_Name</name>
            <dataType>String</dataType>
            <fieldText>Company Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Opportunity_Amount</name>
            <dataType>Currency</dataType>
            <fieldText>Opportunity Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Opportunity_Stage</name>
            <choiceReferences>SalesStage</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Opportunity Stage</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Screen_New_Customer_Flow</startElementReference>
    <status>Draft</status>
    <variables>
        <name>Account_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>New_Account</elementReference>
        </value>
    </variables>
</Flow>
