force-app/main/default/flows/Sample_flow_for_Collection_Filter.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assignment_when_open_Cases_are_found</name>
        <label>Assignment when open Cases are found</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>result</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Incorrect</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assignment_when_open_Cases_not_found</name>
        <label>Assignment when open Cases not found</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>result</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Correct</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Count_the_Collection_Filter</name>
        <label>Count the Collection Filter</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>varCountCollectionFilter</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Collection_Filter_for_open_Cases_only</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Finding_open_cases</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Collection_Filter_for_open_Cases_only</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Collection Filter for open Cases only</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignNextValueToReference>currentItem_Collection_Filter_for_open_Cases_only_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_all_Cases</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Collection_Filter_for_open_Cases_only_0.Status</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>New</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Count_the_Collection_Filter</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Finding_open_cases</name>
        <label>Finding open cases</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Assignment_when_open_Cases_are_found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_found_open_cases</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCountCollectionFilter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_when_open_Cases_not_found</targetReference>
            </connector>
            <label>Not found open cases</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Sample flow for Collection Filter {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sample flow for Collection Filter</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_all_Cases</name>
        <label>Get all Cases</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Collection_Filter_for_open_Cases_only</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_all_Cases</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>currentItem_Collection_Filter_for_open_Cases_only_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>result</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCountCollectionFilter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
